* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e0f2fe, #bae6fd);
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  margin: 20px 0;
  color: #1f2937;
}

/* Summary */
#statusSummary {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Search */
#search {
  padding: 8px;
  width: 260px;
  margin-bottom: 15px;
}

/* Form */
.form-box {
  width: 360px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 80px;
}

#createTicketBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#createTicketBtn:hover {
  background: #1e40af;
}

/* Ticket list */
#ticketList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  margin: 30px;
}

/* Ticket card */
.ticket {
  background: #f6e7e7;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  text-align: left;
}

.ticket p {
  margin: 6px 0;
  font-size: 14px;
}

.ticket {
  border: 2px dotted #9ca3af;
  border-radius: 10px;
}

/* Status colors */
.status-open { color: red; font-weight: bold; }
.status-process { color: orange; font-weight: bold; }
.status-closed { color: green; font-weight: bold; }

/* Priority colors */
.high { color:none;  }
.medium { color:none; }
.low { color:none;  }

/* Buttons */
.ticket button {
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.change-status {
  background: #8b5cf6;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
  margin-left: 8px;
}
